<!DOCTYPE HTML>
<html>
<head>
    <title>PUBG Analysis - Artigos</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Header, Nav, and Footer -->
        <!-- Header -->
        <header id="header">
            <a href="/" class="logo">PUBG Analysis</a>
            <h1>Welcome to PUBG Analysis</h1>
            <p>This portal allows PUBG streamers to upload their statistics spreadsheets and generate graphs for analysis.</p>
        </header>
        <nav id="nav">
						<ul class="links">
							<li><a href="/">Home</a></li>
                            <li><a href="/How_it_works">How it Works</a></li>
							<li><a href="/login">Login</a></li>
							<li class="active"><a href="/articles">Articles</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://twitter.com/victrauguxto" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
    						<li><a href="https://www.linkedin.com/in/victoraugustomartins/" class="icon brands fa-linkedin" target="_blank"><span class="label">Facebook</span></a></li>
    						<li><a href="https://github.com/victrauguxto" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                            <li><a href="https://twitch.tv/victrauguxto" class="icon brands fa-twitch" target="_blank"><span class="label">Twitch</span></a></li>
						</ul>
					</nav>
        <!-- Adicione conforme necessário -->

        <!-- Main -->
        <div id="main">
            <!-- Exibe o conteúdo do artigo -->
            <h1>Coming Soon...</h1>
        </div>

    </div>

    <!-- Scripts -->
    <!-- Adicione conforme necessário -->

</body>
</html>
