<!DOCTYPE HTML>
<html>
<head>
    <title>PUBG Analysis</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-5517877390198179"
     crossorigin="anonymous"></script>
    <script async src="https://fundingchoicesmessages.google.com/i/pub-5517877390198179?ers=1" nonce="CnDTOvBG4eAmDhl_SXGuhg"></script><script nonce="CnDTOvBG4eAmDhl_SXGuhg">(function() {function signalGooglefcPresent() {if (!window.frames['googlefcPresent']) {if (document.body) {const iframe = document.createElement('iframe'); iframe.style = 'width: 0; height: 0; border: none; z-index: -1000; left: -1000px; top: -1000px;'; iframe.style.display = 'none'; iframe.name = 'googlefcPresent'; document.body.appendChild(iframe);} else {setTimeout(signalGooglefcPresent, 0);}}}signalGooglefcPresent();})();</script>
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Header -->
        <header id="header">
            <a href="/" class="logo">PUBG Analysis</a>
            <h1>Welcome to PUBG Analysis</h1>
            <p>This portal allows PUBG streamers to upload their statistics spreadsheets and generate graphs for analysis.</p>
        </header>

        <!-- Nav -->
					<nav id="nav">
						<ul class="links">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="/login">Login</a></li>
							<li><a href="/articles">Articles</a></li>
						</ul>
						<ul class="icons">
							<li><a href="https://twitter.com/victrauguxto" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
    						<li><a href="https://www.linkedin.com/in/victoraugustomartins/" class="icon brands fa-linkedin" target="_blank"><span class="label">Facebook</span></a></li>
    						<li><a href="https://github.com/victrauguxto" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
                            <li><a href="https://twitch.tv/victrauguxto" class="icon brands fa-twitch" target="_blank"><span class="label">Twitch</span></a></li>
						</ul>
					</nav>
        <!-- Main -->
        <div id="main">

            <!-- Featured Post -->
            <article class="post featured">
                <header class="major">
                    <span class="date">April 25, 2017</span>
                    <h2><a href="#">The best site to see the players stats</a></h2>
                    <p>Analyze PUBG Players by their numbers.</p>
                </header>
                <a href="#" class="image main"><img src="templates/images/pic01.jpg" alt="" /></a>
                <ul class="actions special">
                    <li><a href="#" class="button large">Read More</a></li>
                </ul>
            </article>

            <!-- Posts -->
            <section class="posts">
                <article>
                    <header>
                        <span class="date">may 10, 2024</span>
                        <h2><a href="#">How to Use</a></h2>
                    </header>
                    <a href="#" class="image fit"><img src="images/pic02.jpg" alt="" /></a>
                    <p>Learn how to analyze PUBG gameplay to improve your skills.</p>
                    <ul class="actions special">
                        <li><a href="#" class="button">Read More</a></li>
                    </ul>
                </article>
                <!-- More articles here -->
            </section>


        </div>

        <!-- Footer -->
        <footer id="footer">
            <!-- Contact form and social links -->
        </footer>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; Victor Augusto</li>
                <li><a href="/privacypolicy">Privacy Policy</a></li>
            </ul>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        // Adicione um evento de clique para os elementos .btn-li
        document.querySelectorAll('.btn-li').forEach(item => {
            item.addEventListener('click', event => {
                // Redirecione para o URL especificado no atributo data-url
                window.location.href = item.getAttribute('data-url');
            });
        });
    </script>

</body>
</html>
