<!DOCTYPE HTML>
<html>
<head>
    <title>PUBG Analysis - Privacy Policy</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="static/css/main.css" />
    <noscript><link rel="stylesheet" href="static/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper" class="fade-in">

        <!-- Header -->
        <header id="header">
            <a href="/" class="logo">PUBG Analysis</a>
            <h1>Welcome to PUBG Analysis</h1>
            <p>This portal allows PUBG streamers to upload their statistics spreadsheets and generate graphs for analysis.</p>
        </header>

        <!-- Nav -->
        <nav id="nav">
            <ul class="links">
                <li class="active"><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/articles">Articles</a></li>
            </ul>
            <ul class="icons">
                <li><a href="https://twitter.com/victrauguxto" class="icon brands fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                <li><a href="https://www.linkedin.com/in/victoraugustomartins/" class="icon brands fa-linkedin" target="_blank"><span class="label">LinkedIn</span></a></li>
                <li><a href="https://instagram.com/victrauguxto" class="icon brands fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
                <li><a href="https://github.com/victrauguxto" class="icon brands fa-github" target="_blank"><span class="label">GitHub</span></a></li>
            </ul>
        </nav>

        <!-- Main -->
        <div id="main">
            <section>
                <h2>Privacy Policy</h2>
                <p>This Privacy Policy describes how we collect, use, disclose, and protect your personal information when you use our website.</p>
                <p><strong>Information We Collect</strong></p>
                <p>When you register on our website, we may collect the following information:
                    - Contact information, such as name, email address, and phone number.
                    - Login information, such as username and password.
                    - Information about your preferences and interests related to the use of the website.
                </p>
                <p><strong>Use of Information</strong></p>
                <p>The information we collect is used for the following purposes:
                    - Create and manage your account.
                    - Provide support and respond to your requests.
                    - Personalize and improve your experience on the website.
                    - Analyze website usage and make improvements.
                </p>
                <p><strong>Sharing of Information</strong></p>
                <p>We do not share your personal information with third parties, except when necessary to provide the services requested by you. We may share your information in the following circumstances:
                    - With your prior authorization.
                    - To comply with legal obligations.
                    - To protect our rights and property.
                </p>
                <p><strong>Cookies</strong></p>
                <p>We use cookies to personalize content and ads displayed on the website, as well as to analyze traffic. You can control the use of cookies in your browser settings.</p>
                <p><strong>Security</strong></p>
                <p>We implement security measures to protect your personal information against unauthorized access or misuse. However, we cannot guarantee the absolute security of information transmitted over the Internet.</p>
                <p><strong>Changes to this Policy</strong></p>
                <p>We reserve the right to modify this Privacy Policy at any time. We recommend that you periodically review this policy to be aware of how we are protecting your information.</p>
                <p><strong>Contact Us</strong></p>
                <p>If you have any questions or concerns about this Privacy Policy, please contact us at victor.pubganalysis@gmail.com.</p>
            </section>
        </div>

        <!-- Footer -->
        <footer id="footer">
            <!-- Contact form and social links -->
        </footer>

        <!-- Copyright -->
        <div id="copyright">
            <ul><li>&copy; Victor Augusto</li>
        </div>

    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <script>
        // Adicione um evento de clique para os elementos .btn-li
        document.querySelectorAll('.btn-li').forEach(item => {
            item.addEventListener('click', event => {
                // Redirecione para o URL especificado no atributo data-url
                window.location.href = item.getAttribute('data-url');
            });
        });
    </script>

</body>
</html>
