<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Read Google Sheets</title>
</head>
<body>
    <h1>Read Google Sheets</h1>
    <form action="/read_sheets" method="post">
        <label for="sheet_link">Google Sheets Link:</label><br>
        <input type="text" id="sheet_link" name="sheet_link" required><br><br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
